.burger__constructor_element {
  display: flex;
  align-items: center;
}

.burger__constructor_elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.burger__constructor_components {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 50vh;
}

.burger__constructor_total {
  display: flex;
  align-items: center;
}

.burger__constructor_order {
  display: flex;
  justify-content: flex-end;
}
