.ingredientdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredientdetails__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}